.grid {
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
    padding: 40px;
  
  }
  
  @media screen and (min-width: 770px) {
    .grid {
      grid-template-columns: 40%;
    }
  }
  
  .btn-primary {
    font-size: 25px;
    background-color: #FF9F00;
    border-radius: 123px;
    border: 2px solid #FF9F00 !important;
    height: 50px;
    width: 80% !important;
    margin: 10px;
    color: #ffffff;
  
  }
  