

<div>
  <div class="grid">
    <h3>{{this.forms[0].title}}</h3>

    <ng-container *ngFor="let form of forms;let i = index">
      <div *ngIf="isHidden(i) && !isTable(i)">

           <mat-formio (change)="onChange($event, i )" [form]="form"></mat-formio>

      </div>
      <div *ngIf="isTable(i)">
        <div *ngIf="outlet">
<!--           <formio (change)="onChange($event, i )" [form]="form"></formio>
 -->          <mat-formio (change)="onChange($event, i )" [form]="form"></mat-formio>
        </div>
        <button class="btn-primary" (click)="addRow(i)" mat-raised-button color="primary">Add Row</button>

      </div>
    </ng-container>
    <button [disabled]="verifyForm()" class="btn-primary" (click)="getValue()" mat-raised-button color="primary">Next
      &rarr;</button>
    <!--     <button class="btn-primary" (click)="getValue()" mat-raised-button color="primary">Next
        &rarr;</button> -->
  </div>
</div>
